.navBar {
  align-items: center;
  display: flex;
  justify-content: space-between; 
  padding: 0 16px;
}

.siteLogo {
  color: black;
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  padding: 4px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.profileButton {
  float: right;
}
