body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: black;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  padding: 8px;
}

input, textarea {
  border: 1px solid black;
  border-radius: 8px;
  display: block;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 16px;
}
